<header class="al-header">
    <div class="al-header_contacts">
        <div class="al-container al-clearfix">
            <div class="al-header_contacts__left">
                <span class="al-header_address">Адрес: ул. 20-я линия, 194, офис 41   |</span>
                <a class="al-header_phone" href="tel:+77784056026"> +7 (778) 405-60-26   |</a>
                <span class="al-header_timetable"> Мы открыты: ПН-ПТ 8.00-21.00</span>
            </div>
        </div>
    </div>
</header>



<div class="al-promo">
    <div class="al-clearfix al-container al-menu__pt">
        <a href="#" class="al-logo"></a>
        <nav class="al-menu">
            <label for="al-menu_toggle" class="al-menu_toggle-bars"><i class="fas fa-bars"></i></label>
            <input type="checkbox" id="al-menu_toggle" class="al-menu_bars">
            <ul class="al-menu_list">
                <li>
                    <a href="#al-about" class="al-menu_link">о нас</a>
                </li>
                <li>
                    <a href="#al-course" class="al-menu_link">программы</a>
                </li>
                <li>
                    <a href="#al-feedback" class="al-menu_link">отзывы</a>
                </li>
                <li>
                    <a href="#al-connections" class="al-menu_link">контакты</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="al-container">
        <div class="al-promo_text">
            <h1 class="al-promo_title">DO IT RIGHT<span class="al-promo_title__small">NOW</span></h1>
        </div>
    </div>
</div>


<div id="al-about" class="al-about">
    <div class="al-container al-clearfix">
        <h2 class="al-about_title">Немного о нас</h2>
        <div class=" al-about__left">
            <p class="al-about_text">Algor - это место, о котором вспоминают каждый раз, когда хотят развиваться и становиться лучше.</p>
            <p class="al-about_text">Нам нравится помогать людям получать образование, освоить английский язык и поступать в лучшие университеты мира. Мы делаем это профессионально и с удовольствием.</p>
        </div>
        <div class=" al-about__right">
            <img class="al-img" src="../assets/uploads/about.jpg" alt="algor people">
        </div>
    </div>
</div>

<div id="al-course" class="al-course">
    <h3 class="al-container al-course-card_title__main">Текущие программы</h3>
    <div class="al-row al-container">
        <div class="al-col__4">
            <div class="al-course-card">
                <h3 class="al-course-card_title">Общий английский язык</h3>
                <span class="al-course-card_text">12 занятий</span>
                <span class="al-course-card_price">23,500 тг</span>
                <ul class="al-course-card_list">
                    <li class="al-course-card_list-item">12 занятий = 1 уровень английского языка</li>
                    <li class="al-course-card_list-item">1 месяц = 1 уровень английского языка</li>
                    <li class="al-course-card_list-item">Полное погружение в английскую среду</li>
                    <li class="al-course-card_list-item">Онлайн/офлайн поддержка</li>
                </ul>
            </div>
        </div>
        <div class="al-col__4">
            <div class="al-course-card">
                <h3 class="al-course-card_title">Подготовка к экзаменам</h3>
                <span class="al-course-card_text">IELTS, TOEFL, SAT и др.</span>
                <span class="al-course-card_price">Бесплатно</span>
                <ul class="al-course-card_list">
                    <li class="al-course-card_list-item">Подготовка к международным экзаменам</li>
                    <li class="al-course-card_list-item">Полное погружение в английскую среду</li>
                    <li class="al-course-card_list-item">Уникальная система мотивации</li>
                    <li class="al-course-card_list-item">Онлайн/офлайн поддержка</li>
                </ul>
            </div>
        </div>
        <div class="al-col__4">
            <div class="al-course-card">
                <h3 class="al-course-card_title">Интенсивный английский язык</h3>
                <span class="al-course-card_text">24 занятия</span>
                <span class="al-course-card_price">27,500 тг</span>
                <ul class="al-course-card_list">
                    <li class="al-course-card_list-item">12 занятий = 1 уровень английского языка</li>
                    <li class="al-course-card_list-item">1 месяц = 2 уровня английского языка</li>
                    <li class="al-course-card_list-item">Полное погружение в английскую среду</li>
                    <li class="al-course-card_list-item">Онлайн/офлайн поддержка</li>
                </ul>
            </div>
        </div>
        <div class="al-col__4">
            <div class="al-course-card">
                <h3 class="al-course-card_title">Английский язык для детей</h3>
                <span class="al-course-card_text">12 занятий</span>
                <span class="al-course-card_price">23,500 тг</span>
                <ul class="al-course-card_list">
                    <li class="al-course-card_list-item">3 месяц = 1 уровень английского языка</li>
                    <li class="al-course-card_list-item">9 месяцев = весь курс английского языка</li>
                    <li class="al-course-card_list-item">Полное погружение в английскую среду</li>
                    <li class="al-course-card_list-item">Участие в Первой Детской Олимпиаде</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div id="al-feedback" class="al-feedback">
    <div class="al-container">
        <h2 class="al-feedback_title">Отзывы наших студентов</h2>
        <div class="al-row">
            <div class="al-col__2">
                <div class="al-feedback_card">
                    <p class="al-feedback_text">Честно сказать я безгранично благодарна Algor, потому что реально там очень эффективная система обучения. Потому что там все на английском, и есть дисциплина. То есть хочешь не хочешь у тебя есть стимул учить язык, ведь тебе создают мини среду и развивают твое мышление на данном языке. То есть в голове постепенно уходит переключки “рус” – “англ”…</p>
                    <table class="al-feedback_person">
                        <tr>
                            <td><a><img class="al-feedback_person__avatar" src="../assets/uploads/feedback-person-1.png" alt="person"></a></td>
                            <td><a class="al-feedback_person__name">Назерке Абдуллаева</a></td>
                            <td><a class="al-feedback_person__major">Коуч-трансформатор</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="al-col__2">
                <div class="al-feedback_card">
                    <p class="al-feedback_text">Начиная от самого алфавита=Elementary, где вам никак не дадут почувствовать дискомфорт в связи с вашим знанием языка, и заканчивая Upper-Intermediate, Advanced (Но согласитесь,что заниматься дальше с преподавателем после того,как ты закончишь Upper-Intermediate почти нет смысла, кроме как посещать English club (но это уже мое мнение).</p>
                    <table class="al-feedback_person">
                        <tr>
                            <td><a><img class="al-feedback_person__avatar" src="../assets/uploads/feedback-person-2.png" alt="person"></a></td>
                            <td><a class="al-feedback_person__name">Ильшат Султанов</a></td>
                            <td><a class="al-feedback_person__major">Студент АУЭС</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="al-achievement">
    <div class="al-row al-container">
        <div class="al-col__4">
            <div class="al-achievement_card">
                <span class="al-achievement_number">18</span>
                <span>лет суммарный опыт преподавания</span>
            </div>
        </div>
        <div class="al-col__4">
            <div class="al-achievement_card">
                <span class="al-achievement_number">2400</span>
                <span>студентов закончили наши курсы</span>
            </div>
        </div>
        <div class="al-col__4">
            <div class="al-achievement_card">
                <span class="al-achievement_number">21,000</span>
                <span>часов преподавания английского языка</span>
            </div>
        </div>
        <div class="al-col__4">
            <div class="al-achievement_card">
                <span class="al-achievement_number">12</span>
                <span>уроков для завершения 1 уровня английского языка</span>
            </div>
        </div>
    </div>
</div>





<div id="al-connections" class="al-connections">
    <div class="al-container">
        <div class="al-row">
            <div class="al-col__2">
                <iframe width="100%" height="400" src="https://widgets.2gis.com/widget?type=firmsonmap&options=%7B%22pos%22%3A%7B%22lat%22%3A43.22352735035783%2C%22lon%22%3A76.88767790794374%2C%22zoom%22%3A16%7D%2C%22opt%22%3A%7B%22city%22%3A%22almaty%22%7D%2C%22org%22%3A%2270000001027678494%22%7D" frameborder="1"></iframe>
            </div>
            <div class="al-col__2">
                <div class="al-connections_wrap">
                    <h2 class="al-connections_title">Контакты</h2>
                    <h6 class="al-connections_address">Адрес</h6>
                    <p class="al-connections_address_text">г. Алматы, ул. 20-я линия, 194, офис 41 (уг. ул. Тимирязева-Жандосова)</p>
                    <h6 class="al-connections_phone">Телефоны</h6>
                    <a href="tel:+77784056026">+7 (778) 405 60-26</a>
                    <h6 class="al-connections_email">E-mail</h6>
                    <a href="mailto:info@algor.kz">info@algor.kz</a>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="al-footer">
    <div class="al-container">
        <div class="al-clearfix al-container al-menu__pt">
            <a href="#" class="al-logo"></a>
        </div>

        <div class="al-social-networks">
            <a href="https://www.instagram.com/algor.kz/" class="al-social-networks_item"><i class="fab fa-instagram"></i></a>
            <a href="https://vk.com/jackenglish" class="al-social-networks_item"><i class="fab fa-vk"></i></a>
            <a href="https://www.facebook.com/algor.edu" class="al-social-networks_item"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
</div>


<a id="go-top" (click)="scrollToTop()">
    <i class="fas fa-angle-double-up"></i>
</a>






<router-outlet></router-outlet>
